* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.header {
  display: flex;
  background-color: #1f2937;
  color: #e5e7eb;
}
.header a {
  color: #e5e7eb;
  text-decoration: none;
}
.header ul {
  display: flex;
  flex: 1;
  list-style: none;
  justify-content: space-between;
  margin: 1% 15%;
}
.header ul li:nth-child(n + 2) {
  width: 15%;
  font-size: 18px;
}

.header .logo {
  width: 60%;
  color: #f9faf8;
  font-size: 24px;
}
.section-one {
  background-color: #1f2937;
  display: flex;
}

.section-one .hero {
  color: #f9faf8;
  padding: 2% 20%;
}

.section-one .hero h1 {
  font-size: 48px;
  font-weight: bolder;
}
